/*-------------------------------------------------*/
/* Basic Setup */
/* ------------------------------------------------ */
* {
    border:0;
    margin: 0;
    box-sizing: border-box;
}
/* -------------------------------------------------- */
/*  */
/* --------------------------------------------------- */
html{
    background-color: #fff;
    color:#555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility
}

/* -------------------------------------------------- */
/*  Reusable Components*/
/* --------------------------------------------------- */

.row{
    max-width: 1140px;
    margin: 0 auto;
   
}


/*  Heading*/

h1{
font-size:240%;
font-weight: 300;
color:#fff;
text-transform: uppercase;
letter-spacing: 1px;
word-spacing: 4px;
}


/* Buttons */

.btn:link,
.btn:visited{
    display:inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color:#fff;
    transition: background-color 0.2s,border 0.2s,color 0.2s
}


.btn:hover,
.btn-active{
background-color: #f39c12;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border:1px solid #e67e22;
    margin-right:15px;
}

.btn-full:hover,
.btn-full:active{
border: 1px solid #f39c12;
}


.btn-ghost:link,
.btn-ghost:visited{
    border:1px solid #e67e22;
    color:#e67e22;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #f39c12;
    color:#fff;
}

/* -------------------------------------------------- */
/* Header */
/* --------------------------------------------------- */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.logo{
    margin-top: 20px;
    height: 100px;
    width:auto;
    float: left;
}
.main-nav{
    float: right;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
    margin-top:60px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;

}